@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        Текущий период: ОП1 [01.01.2020 -- 01.04.2020]
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
