@using System.ComponentModel.DataAnnotations
@inject IDbContextFactory<AppDbContext> DbFactory
@inject ILocalStorageService LocalStorage



<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" height="256" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <EditForm Model="authModel" OnSubmit="LoginOnClick">
            <DataAnnotationsValidator />
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" @bind="authModel.Username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" @bind="authModel.Password">
            <input type="submit" class="fadeIn fourth" value="Log In" />
        </EditForm>

    </div>
</div>

@code {

    public class AuthModel
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }

    AuthModel authModel = new AuthModel();

    public User User { get; set; }

    public bool Authenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            User = await LocalStorage.GetItemAsync<User>("user");
            if (User != null)
            {
                Authenticated = true;
            }
            Authenticated = false;
            return;
        }
        catch (Exception)
        {
            Authenticated = false;

        }
    }

    void LoginOnClick(EditContext editContext)
    {
        Authenticator authenticator = new Authenticator(DbFactory, LocalStorage);
        authenticator.Authenticate(authModel.Username, authModel.Password);
    }
}