@page "/ops"

<h1>Отчетные периоды</h1> 

<table class="table table-bordered">
    <tr>
        <th>Наименование</th>
        <th>Дата начала</th>
        <th>Дата Окончания</th>
    </tr>
    <tr>
        <td>
            <button class="btn btn-outline-info">ОП1</button>
        </td>
        <td>01.01.2020</td>
        <td>01.04.2020</td>
    </tr>
</table>

@code {

}
